html {
  background-image: url('./assets/background.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.send-form {
  padding: 25px;
  margin: 25px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  min-height: 80vh;
}

footer {
  display: flex;
}

#credits-num {
  font-weight: bolder;
  font-size: 32px;
  color: white;
  text-shadow: 0.03em 0 black, 0 0.03em black, -0.03em 0 black, 0 -0.03em black;
  margin-bottom: 1.2rem;
  margin-left: 5px;
}

#credits-icon {
  font-size: 35px;
}

.credits-title {
  font-weight: bolder;
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.credits-text {
  font-size: 17px;
}

.home-heading {
  font-family: Satisfy, cursive;
  font-weight: bolder;
  color: black;
  text-shadow: 0.03em 0 white, 0 0.03em white, -0.03em 0 white, 0 -0.03em white;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}

.home-heading-logo {
  font-family: Satisfy, cursive;
  font-weight: bolder;
  margin-left: 5px;
}

#no-surveys-text {
  font-size: 4em;
  color: white;
  text-shadow: 0.06em 0 black, 0 0.04em black, -0.04em 0 black, 0 -0.05em black;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}

.example_e {
  border: none;
  color: black;
  font-weight: 100;
  padding: 20px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  margin: 0px 5px;
}

.answers-text {
  text-decoration: underline;
  font-weight: bolder;
}
.delete-btn {
  border-radius: 5px;
}

.delete-btn:hover {
  font-weight: 700;
  letter-spacing: 1px;
  transition: all 0.3s ease 0s;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
}

.example_e:hover {
  font-weight: 700 !important;
  letter-spacing: 3px;
  background: none;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease 0s;
}

@import url('https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700');

:root {
  --color: black;
  --transition-time: 0.5s;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

.cards-wrapper-custom {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
  padding: 4rem;
  margin: 0 auto;
  width: max-content;
}

.card-custom {
  font-family: 'Heebo';
  --bg-filter-opacity: 0.5;
  background-color: whitesmoke;
  height: 20em;
  width: 15em;
  font-size: 1.5em;
  color: rgb(110, 106, 106);
  border-radius: 1em;
  padding: 1em;
  /*margin: 2em;*/
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5em -1em black;
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  border: 10px solid #ccc;
  text-decoration: none;
}

.card-custom:hover {
  transform: rotate(0);
}

.card-custom h1 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.2em;
}

.card-custom p {
  font-size: 0.75em;
  font-family: 'Open Sans';
  margin-top: 0.5em;
  line-height: 2em;
}

.card-custom .tags {
  display: flex;
}

.card-custom .tags .tag {
  font-size: 0.75em;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
}

.card-custom:hover .tags .tag {
  background: var(--color);
  color: white;
}

.card-custom:before,
.card-custom:after {
  content: '';
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.card-custom:before {
  background: #ddd;
  width: 250%;
  height: 250%;
}

.card-custom:after {
  background: white;
  width: 200%;
  height: 200%;
}

.card-custom:hover {
  color: var(--color);
}

.card-custom:hover:before,
.card-custom:hover:after {
  transform: scale(1);
}

.card-grid-space .num {
  font-size: 3em;
  color: black;
  text-shadow: 0.03em 0 white, 0 0.03em white, -0.03em 0 white, 0 -0.03em white;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}

.info {
  font-size: 1.2em;
  display: flex;
  padding: 1em 3em;
  height: 3em;
}

.info img {
  height: 3em;
  margin-right: 0.5em;
}

.info h1 {
  font-size: 1em;
  font-weight: normal;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {
  .cards-wrapper-custom {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .cards-wrapper-custom {
    grid-template-columns: 1fr;
  }
  .info {
    justify-content: center;
  }
  .card-grid-space .num {
    margin-left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .cards-wrapper-custom {
    padding: 4rem 2rem;
  }
  .card-custom {
    max-width: calc(100vw - 4rem);
  }
}

@media screen and (max-width: 450px) {
  .info {
    display: block;
    text-align: center;
  }
  .info h1 {
    margin: 0;
  }
}
